body {
    margin: 0;
    padding: 0;  
}
#container{
    margin: 0 auto;
    max-width:549px;
}
input[type=color]{
    width: 61px;
}
input[type=color],
#selectMode,
#schemeColor{
    height: 50%; 
    font-family: "Inter", sans-serif;
    color: #D1D5DB;
}
#selectMode,
#schemeColor{
    border-radius: 5px;
    border: 2px solid #D1D5DB;
    background-color:#1F2937;
}
#selectMode{
    width: 54%;
    font-size: 1em;
}
#schemeColor{
    width: 27%;
    font-size: 0.6em;
}
#containerChild{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: #1F2937;
}
#colorListed{
   display:flex;
   align-items: center;
   justify-content: center;
   background-color: #1F2937;
}
#colorListed img{
    width: 16.7vw;
    height: 10vh;
}
#colorListed p{
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}
@media(min-width:800px){
    #container{
        width:550px;
    }
    #colorListed img{
        width: 6.69vw;
        height: 70vh;
    }
}
@media(min-width:768px){
    #colorListed img{
        width: 6.69vw;
        height: 70vh;
    }
}
